/*===========
	Fonts
============*/

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/Nexa Light.otf');
 }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/MOpenSans-Light.ttf');
 }

.horizontal-padding-n {
	padding-right: 0px;
	padding-left: 0px;
}
/*
**----Header Section 1----**
*/

/*Slider ON MOBILE*/

.gallery-cell {
  width: 80%;
  height: auto;
  margin-right: 10px;
}

.gallery-cell img {
	padding: 20px 0px; 
	width: 100%;
}

.gallery-cell .sponsors_img {
	padding: 20px 0px; 
	width: 100%;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.gallery-cell .sponsors_img:hover {
	filter: grayscale(0%);
}


.flickity-prev-next-button {
	display: none;
}

.flickity-page-dots {
	display: none;
}

/*Sponsors On desktop*/
.sponsors_desktop {
	text-align: center;
	margin: 30px 0px 40px 0px;
}
.sponsors_desktop img {
	width: 100%;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    transform: scale(1.2);
}
.sponsors_desktop img:hover {
	filter: grayscale(0%);
}




/* Header Social media images*/
	.top-header {
	    text-align: center;
	    background-image: url('../img/banner.png');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
	}
	.header-social_media {
		text-align: right;
		padding-top: 30px;
	}
	.header-social_media img {
		width: 42px;
		padding-right: 15px;
	}
	.facebook-icon-header {
		width: 30px !important;
	}


/*Header Backgorund and text*/

.home-header {
	padding: 125px 0px 305px 0px;
}

.home-header h1 {
	font-family: 'Montserrat-Regular';
	font-size: 106px;
	line-height: 95px;
	color: white;
	margin-bottom: 15px;
}	

.home-header p { 
	font-family: 'Nexa Light';
	font-size: 23px;
	line-height: 30px;
	color: white;
}

.home-header button {
	width: 250px;
    border: 3px solid #fff;
    padding: 7px 0;
    margin-top: 30px;
    background-color: transparent;
    color: white;
    font-size: bolder;
    font-family: 'Montserrat-Regular';    
	transition: all ease-in-out 0.4s;
}
.home-header a {
	color: white; 
	text-decoration: none;
}
.home-header button:hover {
	background-color: rgba(255, 255, 255, 0.38);
}


/*
**----OUR MISSION Section 2----**
*/

.our-mis_section {
	padding: 40px 0px;
}

.our-mis_section h1 {
	color: #e50011;
    font-size: 50px;
    font-family: 'Montserrat-Bold';
    text-align: left;
    text-transform: uppercase;
}
.our-mis_section p {
	font-size: 20px;
    color: #000000;
    font-family: 'Montserrat-Regular';
    line-height: 32px;
}

.our-mis_section button {
	width: 160px;
    border: 3px solid #e50011;
    padding: 7px 0;
    text-align: center;
    margin-top: 25px;
    background-color: transparent;
    color: #e50011;
    font-family: 'Montserrat-Bold';
    font-weight: bolder;
    transition: all 0.5s ease-in-out 0s;
}
.our-mis_section button:hover {
	transition: ease all 0.5s;
	color:white;
	background-color: #e50011;
}
.our-mis_section button:active {
	outline: none;
}
.our-mis_section button:focus {
	outline: none;
}
/*
**----OUR MISSION Section 2----**
*/
.home-section3 {
	text-align: center;
    background-image: url('../img/E_bg1.jpg');
    height: 800px;
    background-size: cover;
    padding-bottom: 80px;
    position: relative;
}
.section3-quote img{
	padding-bottom: 40px;
	padding-right: 5px;
}
.home-section3 h1{
	padding-top: 150px;
	padding-bottom: 30px;
	color: #fff;
    text-align: center;
    font-size: 79px;
    font-family: 'Montserrat-Bold';
    margin: 0 auto;
    line-height: 100px;
}
.home-section3 button {
	background: transparent;
    border: 3px solid;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out 0s;
}
.home-section3 button:hover {
	background-color: #e50011;
	border: 3px solid #e50011;
}
	.section3-icons {
	padding-top: 50px;
	}

	.section3-icons h3 {
		color: white;
		font-family: 'Montserrat-Bold';
	}
.pic1 {
    background: url(../img/1.png);
    background-position: 0 0;
    width: 168px;
    height: 182px;
    display: block;
    transition: all 0.4s ease 0s;
    margin: 0 auto;
}

.pic2 {
    background: url(../img/2.png);
    background-position: 0 0;
    width: 168px;
    height: 182px;
    display: block;
    transition: all 0.4s ease 0s;
    margin: 0 auto;
}

.pic3 {
    background: url(../img/3.png);
    background-position: 0 0;
    width: 168px;
    height: 182px;
    display: block;
    transition: all 0.4s ease 0s;
    margin: 0 auto;
}
.pic4 {
    background: url(../img/4.png);
    background-position: 0 0;
    width: 168px;
    height: 182px;
    display: block;
    transition: all 0.4s ease 0s;
    margin: 0 auto;
}

.pic1:hover {
    background-position: 0 -183px;
}
.pic2:hover {
    background-position: 0 -183px;
}
.pic3:hover {
    background-position: 0 -183px;
}
.pic4:hover {
    background-position: 0 -183px;
}

/*
**----Testimonials Section 3----**
*/
.testimonials-grids {
	padding: 0px 30px;
}
.testimonials-section {
	text-align: center;
    background-image: url('../img/testimonials-bg-01.png');
    height: auto;
    background-size: cover;
    padding-bottom: 80px;
    position: relative;
}
.testimonials-section h1 {
	padding: 30px 0px;
	font-family: 'Montserrat-Regular';
}
/*For Desktop devices*/
.first-grid-testimonials {
	background-color: white;
	margin-top: 70px;
	border-radius: 20px;
	padding: 0px 30px;
}
.first-grid-testimonials img {
	padding: 0px 0px 30px 0px; 
	margin-top: -70px;
	width: 150px;
}
.first-grid-testimonials h4 {
	font-family: 'Montserrat-Bold';
}
.first-grid-testimonials span {
	color: #d0d2d3;
	font-family: 'Montserrat-Regular';
}
.first-grid-testimonials p {
	margin: 30px 0px;
	padding-bottom: 30px;
	font-family: 'Montserrat-Regular';
}

/*For mobile devices*/
.test-panel-h {
	text-align: center;
}

.test-panel-h img {
	padding: 30px 0px; 
	width: 140px;
}
.test-panel-v {
	text-align: left;
}
.test-panel-v h4 {
	font-family: 'Montserrat-Regular';
	margin-bottom: 0px;
}
.test-panel-v img{
	width: 140px;
}

.test-panel-v span {
	color: #d0d2d3;
	padding-bottom: 30px;
}
.horizontal-test-p {
	padding: 3px 30px;
}




/*
**----facts Section 4----**
*/

.facts-section {
	text-align: center;
    background-image: url('../img/facts-bg1-01.png');
    height: auto;
    background-size: cover;
    padding-bottom: 100px;
    position: relative;
}

.facts-section h4 {
	padding: 30px 0px;
	color: white;
	font-size: 30px;
	font-family: 'Montserrat-Regular';
}

.facts-section h1 {
	font-family: 'Montserrat-Regular';
	font-size: 90px;
	color: #ff0013;
	letter-spacing: -7px;
	font-weight: bold;
}
.facts-section p {
	padding: 0px 0px;
	color: white;
	font-size: 40px;
	font-family: 'Montserrat-Regular';
}
.facts-section span {
	font-family: 'OpenSans-Light';
	color: white;
	font-size: 18px;
	padding: 0px;
}





/*
**---- Section 5 ----**
*/
.starting-o-section {
	text-align: center;
	padding: 30px 0px;
}
.starting-o-section h3 {
	font-family: 'Montserrat-Bold';
	padding: 10px 0px;
}
.starting-o-section h4 {
	font-family: 'Montserrat-Bold';
	padding: 10px 0px;
	color: #e50011;
	font-size: 20px;
}
.starting-o-section p {
	font-size: 15px;
}

.starting-o-section button {
	font-size: 15px;
	font-family: 'Montserrat-Bold';
	background-color: #e50011;
	border: none;
	color: white;
	width: 160px;
    height: 36px;
}





/*
**---- Footer Section 6 the last ----**
*/
.footer-section  {
	background-color: #060b0f;
	height: auto;
	color: white;
}
.footer-section h3 {
	font-size: 22px;
}
.footer-section .button {
	text-align: center;
	padding: 30px 0px;
}
.footer-section .button button {
	border: white solid 3px;
	background-color: transparent;
	width: 80%;
	height: 40px;	
	font-size: 18px;
	font-family: "Montserrat-Regular";
    transition: all 0.5s ease-in-out 0s;
}
.footer-section .button button:hover {
	background-color: #e50011;
	border: solid 3px #e50011;
}



/*Only on Mobile*/
@media only screen and (max-width: 844px) {
	.mobile-d-n {
		display: none;
	}
	/*Header section*/
    .home-header {
	padding: 50px 0px 170px 0px;
	}

	.home-header h1{
		font-size: 65px;
		line-height: 55px;
	}
	.home-header p{
		font-size: 18px;
		line-height: 20px;
	}

	/*Our Mission*/
	.our-mis_section {
	padding: 40px 10px;
	text-align: center;
	}

	.our-mis_section h1 {
		color: #e50011;
	    font-size: 40px;
	    font-family: 'Montserrat-Bold';
	    text-align: center;
	    text-transform: uppercase;
	}
	.our-mis_section p {
		font-size: 13px;
	    color: #000000;
	    font-family: 'Montserrat-Regular';
	    line-height: 25px;
	}



/*
**----facts Section 4----**
*/

.facts-section {
	text-align: center;
    background-image: url('../img/facts-bg.png');
    height: auto;
    background-size: cover;
    padding-bottom: 80px;
    position: relative;
}

.facts-section h4 {
	padding: 30px 0px;
	color: white;
	font-size: 30px;
	font-family: 'Montserrat-Regular';
}

.facts-section h1 {
	font-family: 'Montserrat-Regular';
	font-size: 75px;
	color: #ff0013;
	letter-spacing: -7px;
}
.facts-section p {
	padding: 0px 0px;
	color: white;
	font-size: 25px;
	font-family: 'Montserrat-Regular';
}
.facts-section span {
	font-family: 'OpenSans-Light';
	color: white;
	font-size: 18px;
	padding: 0px;
}


/*
**----OUR MISSION Section 2----**
*/
.home-section3 {
    padding-bottom: 80px;
}
.section3-quote img{
	display: none;
}
.home-section3 h1{
	padding-top: 90px;
	padding-bottom: 30px;
    font-size: 30px;
    line-height: 40px;
}
.home-section3 button {
    font-size: 20px;
}
.section3-icons {
padding-top: 50px;
}

.footer-section h3 {
    text-align: center;
    font-size: 15px;
}
.section3-icons h3 {
	color: white;
	font-family: 'Montserrat-Bold';
	font-size: 18px;
}

}



/*Only in desktop*/
@media only screen and (min-width: 844px) {
    .desktop-d-n {
    	display: none;
    }
}