/*===========
	Fonts
============*/

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/Nexa Light.otf');
 }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/MOpenSans-Light.ttf');
 }




/*
**----Header Section 1----**
*/

/* Header Social media images*/
  .top-header {
      text-align: left;
      background-image: url('../img/marbanner-1361x790.png');
      background-repeat: no-repeat;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      background-position:center;
      height: 900px;
  }
  .header-social_media {
    text-align: right;
    padding-top: 30px;
  }
  .header-social_media img {
    width: 42px;
    padding-right: 15px;
  }
  .facebook-icon-header {
    width: 30px !important;
  }


/*Header Backgorund and text*/

.services-header {
  padding: 180px 0px;
}

.quotes-big {
    padding: 180px 10px;
    font-size: 79px;
    font-family: 'Montserrat-Bold';
    text-align: left;
}

.quotes-big i {
  float: right;
  color: #e50011;
    margin-right: 8px;
}

.services-header h1 {
  font-family: 'Montserrat-Bold';
  font-size: 62px;
  line-height: 70px;
  color: white;
  margin-bottom: 15px;
} 

.services-header p { 
  font-family: 'Nexa Light';
  font-size: 23px;
  line-height: 30px;
  color: white;
}

.services-header button {
  width: 250px;
    border: 3px solid #fff;
    padding: 7px 0;
    margin-top: 30px;
    background-color: transparent;
    color: white;
    font-size: bolder;
    font-family: 'Montserrat-Regular';
}

/* Section 2 */

.section2 {
  padding: 30px 0px;
  text-align: center;
}

.section2 h1 {
  font-family: 'Montserrat-Bold';
}

.sec-panel {
  padding: 25px 10px;
}





/* Section 3 Testimonials */
.testimonial-panel {
  text-align: center;
  border-right: 2px solid #f3f3f4;
  border-top: 2px solid #f3f3f4;
  border-left: 2px solid #f3f3f4;
}

.testimonial-panel img {
  padding: 40px 0px 20px 0px;
}

.testimonial-panel h4 {
  color: red;
  font-size: 32px;
  font-family: 'Montserrat-Regular';

}

.testimonial-panel p {
  padding-bottom: 10px;
}

/*Testimonials on moble devices*/

/*Slider ON MOBILE*/

.gallery-cell {
  width: 75%;
  height: auto;
  margin-right: 10px;
}
.gallery-cell img {
  padding: 20px 0px; 
  width: 100%;
}
.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots {
  display: none;
}



/*Section 4 Book*/
  .section4 {
      text-align: left;
      background-image: url('../img/book-marketing-01.png');
      background-repeat: no-repeat;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      background-position:center;
      height: 850px;
      text-align: center;
  }

.section5 {
  text-align: center;
  padding: 30px 0px;
}
.section5 h1 {
  font-size: 45px;
  padding-bottom: 20px;
  font-family: 'Montserrat-Bold';
}
.section5 p {
  padding: 10px 30px;
  font-size: 18px;
}
.section5 button {
  background-color: #ed1c24;
  color: white;
  font-style: 20px;
  width: 200px;
  height: 35px;
  border: none;
  font-weight: bolder;
}

/*
**---- Footer Section 6 the last ----**
*/
.footer-section  {
  padding: 20px 0px;
  background-color: #060b0f;
  height: auto;
  color: white;
}
.footer-section h3 {
  font-size: 22px;
  font-family: "Montserrat-Regular";
}
.footer-section .button {
  text-align: center;
  padding: 30px 0px;
}
.footer-section .button button {
  border: white solid 3px;
  background-color: transparent;
  width: 80%;
  height: 40px; 
  font-size: 18px;
  font-family: "Montserrat-Regular";
    transition: all 0.5s ease-in-out 0s;
}
.footer-section .button button:hover {
  background-color: #e50011;
  border: solid 3px #e50011;
}


/*Only in desktop*/
@media only screen and (min-width: 844px) {
    .desktop-d-n {
      display: none;
    }

}

/*Only on Mobile*/
@media only screen and (max-width: 844px) {
  .mobile-d-n {
    display: none;
  }
  .top-header {
    height:650px;
  }
  .services-header {
  padding: 0% 20px;
  }
  .quotes-big {
    padding: 0px 10px;
    font-size: 79px;
    font-family: 'Montserrat-Bold';
    /*display: none;*/
}
  .quotes-big i {
    float: left;
    padding: 20% 20px 0px;
  }
    .section4 {
      text-align: left;
      background-image: url('../img/book-marketing-01.png');
      background-repeat: no-repeat;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      background-position:center;
      height: 400px;
  }
  }
  .footer-section {
    text-align: center;
  }
}
