/*===========
	Fonts
============*/

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/Nexa Light.otf');
 }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
 }

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/MOpenSans-Light.ttf');
 }

.horizontal-padding-n {
	padding-right: 0px;
	padding-left: 0px;
}



/*
**----Header Section 1----**
*/

/* Header Social media images*/
	.top-header {
	    text-align: left;
	    background-image: url('../img/emi2bann.jpg');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
	}
	.header-social_media {
		text-align: right;
		padding-top: 30px;
	}
	.header-social_media img {
		width: 42px;
		padding-right: 15px;
	}
	.facebook-icon-header {
		width: 30px !important;
	}


/*Header Backgorund and text*/

.services-header {
	padding: 180px 0px;
}
.lampa {
	padding: 180px 10px;
}
.lampa img {	
	float: right;
	width: 100px;
}

.services-header h1 {
	font-family: 'Montserrat-Bold';
	font-size: 62px;
	line-height: 70px;
	color: white;
	margin-bottom: 15px;
}	

.services-header p { 
	font-family: 'Nexa Light';
	font-size: 23px;
	line-height: 30px;
	color: white;
}

.services-header button {
	width: 250px;
    border: 3px solid #fff;
    padding: 7px 0;
    margin-top: 30px;
    background-color: transparent;
    color: white;
    font-size: bolder;
    font-family: 'Montserrat-Regular';    
    transition: all 0.4s ease-in-out 0s;
}

.services-header button:hover {
	background-color: rgba(255, 255, 255, 0.38);
	border: solid 3px white;
}
/*
**----Header Section 2----**
*/

.section2-services {
	    text-align: left;
	    background-image: url('../img/bg22.jpg');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
	}

/*
**----Header Section 3----**
*/

.section3-services {
	    text-align: left;
	    background-image: url('../img/bg33.jpg');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
	}

/*
**----Header Section 4----**
*/

.section4-services {
	    text-align: left;
	    background-image: url('../img/bg44.jpg');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
	}



/*Only on Mobile*/
@media only screen and (max-width: 844px) {
	.mobile-d-n {
		display: none;
	}
	.lampa {
	padding: 40px 10px;
	text-align: center;
}
	.lampa img {	
		float: none;
	}
	.services-header {
	padding: 0px 0px 20px 0px;
	text-align: center;
}
	.services-header h1 {
	padding: 0px 25px;
	font-size: 30px;
	line-height: 40px;
	color: white;
	margin-bottom: 15px;
	}	
	.services-header p { 
	padding: 0px 20px;
	font-size: 18px;
	line-height: 20px;
	color: white;
}
.top-header {
	    text-align: left;
	    background-image: url('../img/bg1.jpg');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
}
.section2-services {
	    text-align: left;
	    background-image: url('../img/bg2.jpg');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
	}
	.section3-services {
	    text-align: left;
	    background-image: url('../img/bg3.jpg');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
	}
.section4-services {
	    text-align: left;
	    background-image: url('../img/bg4.jpg');
	    background-repeat: no-repeat;
	    -webkit-background-size:cover;
	    -moz-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
	    background-position:center;
	}
	.black-c-m {
		color: black !important; 
	}
}
/*Only in desktop*/
@media only screen and (min-width: 844px) {
    .desktop-d-n {
    	display: none;
    }
}





#DIV_1 {
    bottom: 433px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 152px;
    left: 75px;
    position: fixed;
    right: 1474px;
    text-size-adjust: 100%;
    top: 195px;
    width: 34px;
    z-index: 0 !important;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 17px 76px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 17px 76px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px / 21px MyriadPro-Regular, Arial;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#UL_2 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 147px;
    text-size-adjust: 100%;
    width: 34px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 17px 73.5px;
    transform-origin: 17px 73.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px / 21px MyriadPro-Regular, Arial;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px;
}/*#UL_2*/

#LI_3, #LI_5, #LI_7 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 30px;
    text-size-adjust: 100%;
    width: 34px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 17px 15px;
    transform-origin: 17px 15px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px / 21px MyriadPro-Regular, Arial;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_3, #LI_5, #LI_7*/

#A_4 {
    background-position: 0px -183px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    height: 30px;
    text-align: left;
    text-decoration: none;
    text-indent: -159984px;
    text-size-adjust: 100%;
    width: 34px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 17px 15px;
    transform-origin: 17px 15px;
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 16px / 21px MyriadPro-Regular, Arial;
    list-style: none outside none;
    margin: 0px 0px 5px;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_4*/
#A_4:active {
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -185px / auto padding-box border-box;
}
#A_4:focus {
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -185px / auto padding-box border-box;
}
#A_6 {
    background-position: 0px -32px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    height: 30px;
    text-align: left;
    text-decoration: none;
    text-indent: -159984px;
    text-size-adjust: 100%;
    width: 34px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 17px 15px;
    transform-origin: 17px 15px;
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -32px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 16px / 21px MyriadPro-Regular, Arial;
    list-style: none outside none;
    margin: 0px 0px 5px;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_6*/
#A_6:active {
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -214px / auto padding-box border-box;
}
#A_6:focus {
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -214px / auto padding-box border-box;
}
#A_8 {
    background-position: 0px -59px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    height: 30px;
    text-align: left;
    text-decoration: none;
    text-indent: -159984px;
    text-size-adjust: 100%;
    width: 34px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 17px 15px;
    transform-origin: 17px 15px;
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -59px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 16px / 21px MyriadPro-Regular, Arial;
    list-style: none outside none;
    margin: 0px 0px 5px;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_8*/
#A_8:active {
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -243px / auto padding-box border-box;
}
#A_8:focus {
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -243px / auto padding-box border-box;
}
#LI_9 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 42px;
    text-size-adjust: 100%;
    width: 34px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 17px 21px;
    transform-origin: 17px 21px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px / 21px MyriadPro-Regular, Arial;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}/*#LI_9*/

#A_10 {
    background-position: 0px -88px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    height: 42px;
    text-align: left;
    text-decoration: none;
    text-indent: -159984px;
    text-size-adjust: 100%;
    width: 34px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 17px 21px;
    transform-origin: 17px 21px;
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -88px / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 16px / 21px MyriadPro-Regular, Arial;
    list-style: none outside none;
    margin: 0px 0px 5px;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_10*/

#A_10:active {
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -273px / auto padding-box border-box;
}
#A_10:focus {
    background: rgba(0, 0, 0, 0) url("../img/service-menu-icons.png") no-repeat scroll 0px -273px / auto padding-box border-box;
}